  body {
      font-family: 'Times New Roman', Times, serif;
      background-color: #b6d7b9;
  }
  
  .text {
      color: #ffffff;
  }
  
  .contr {
      width: 605px;
      margin-left: 820px;
      position: absolute;
      margin-top: -580px;
      height: 745px;
      /* display: flex; */
      border-top-left-radius: 50px;
      background-position: center;
  }
  
  .button1 {
      float: left;
      padding: 10px;
      border-radius: 40px;
      margin-right: 70px;
      width: 100px;
      margin-bottom: 20px;
      background-color: transparent;
  }
  
  .date {
      width: 400px;
      margin-left: 350px;
      margin-top: -76px;
  }
  
  .button2 {
      width: 600px;
      padding: 10px;
      margin-top: 60px;
      padding: 15px;
  }
  
  .icon {
      border-radius: 50px;
      height: 100px;
      width: 100px;
  }
  
  .bouncy {
      animation: bouncy 5s infinite linear;
      position: relative;
  }
  
  @keyframes bouncy {
      0% {
          top: 0em
      }
      40% {
          top: 0em
      }
      43% {
          top: -0.9em
      }
      46% {
          top: 0em
      }
      48% {
          top: -0.4em
      }
      50% {
          top: 0em
      }
      100% {
          top: 0em;
      }
  }
  
  #btn1 {
      width: 150px;
      height: 50px;
      border-radius: 40px;
      background-color: transparent;
  }
  
  #hi {
      border-color: red;
  }
  
  #btn1 span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
  }
  
  #btn1 span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      left: 20px;
      transition: 0.5s;
  }
  
  #btn1:hover span {
      padding-right: 25px;
  }
  
  #btn1:hover span:after {
      opacity: 1;
      right: 0;
  }
  
  #btn2 {
      width: 200px;
      height: 50px;
      border-radius: 40px;
      margin-left: 150px;
  }
  
  .form {
      margin-top: 90px;
      padding: 10px;
      width: 750px;
      height: 400px;
  }
  
  .form input {
      width: 90%;
      padding: 15px;
      border-width: 1px;
      border-radius: 8px;
      margin-bottom: 10px;
      background-color: transparent;
  }
  
  .link {
      width: 200px;
      height: 40px;
      margin-left: 1200px;
      margin-top: -60px;
  }
  
  #exp1,
  #exp2 {
      width: 40%;
  }
  
  #exp_l {
      margin-right: 500px;
  }
  
  #cvv {
      width: 40%;
  }
  
  .header {
      height: 90px;
      margin: -3px;
      background-color: black;
  }
  
  .contl {
      position: relative;
      height: 750px;
      padding: 20px;
      margin-top: -600px;
      background-color: aqua;
      z-index: 1;
  }
  
  .cont p {
      margin-left: 300px;
      margin-top: -20px;
  }
  
  .cont {
      margin: 30px;
      /* background: rgba(80, 80, 80, 0.1); */
      background-color: rgba(97, 151, 167, 0.5);
      padding: 20px;
      width: 400px;
      margin-top: 40px;
      margin-left: 45px;
      height: 400px;
      border-radius: 50px;
      color: white;
      font-size: 17px;
  }
  
  .cvv {
      width: 44%;
  }
  
  .para {
      margin-left: 400px;
      margin-top: -90px;
      font-size: 13px;
      width: 250px;
  }
  
  .btn {
      border: none;
      font-size: 15px;
      font-weight: bold;
  }
  
  .btn-lg {
      font-size: 15px;
  }
  
  .btn-primary {
      background-color: rgb(7, 7, 117);
      color: white;
  }
  
  .btn-primary:focus,
  .btn-primary.focus,
  .btn-primary:hover {
      background-color: lightblue;
  }
  
  .btn-primary:active,
  .btn-primary.active,
  .open>.dropdown-toggle.btn-primary {
      background-color: blue;
  }
  
  .btn-primary:active:hover,
  .btn-primary.active:hover,
  .open>.dropdown-toggle.btn-primary:hover,
  .btn-primary:active:focus,
  .btn-primary.active:focus,
  .open>.dropdown-toggle.btn-primary:focus,
  .btn-primary:active.focus,
  .btn-primary.active.focus,
  .open>.dropdown-toggle.btn-primary.focus {
      background-color: blue;
  }
  
  .btn-block+.btn-block {
      margin-top: 0px;
  }
  
  .displayblock {
      display: block;
  }
  
  .displaynone {
      display: none;
  }
  
  .btnloaded {
      display: none;
  }
  
  .spinit {
      display: inline-block;
      -webkit-animation-name: spin;
      -webkit-animation-duration: 6s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-name: spin;
      -moz-animation-duration: 6s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;
      -ms-animation-name: spin;
      -ms-animation-duration: 6s;
      -ms-animation-iteration-count: infinite;
      -ms-animation-timing-function: linear;
      animation-name: spin;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(.43, .84, .61, .14);
      -webkit-animation-delay: 0.3s;
      -moz-animation-delay: 0.3s;
      -ms-animation-delay: 0.3s;
      animation-delay: 0.3s;
      transform-origin: 50% 49%;
  }
  
  @-ms-keyframes spin {
      from {
          -ms-transform: rotate(0deg);
      }
      to {
          -ms-transform: rotate(2520deg);
      }
  }
  
  @-moz-keyframes spin {
      from {
          -moz-transform: rotate(0deg);
      }
      to {
          -moz-transform: rotate(2520deg);
      }
  }
  
  @-webkit-keyframes spin {
      from {
          -webkit-transform: rotate(0deg);
      }
      to {
          -webkit-transform: rotate(2520deg);
      }
  }
  
  @keyframes spin {
      from {
          transform: rotate(0deg);
      }
      to {
          transform: rotate(2520deg);
      }
  }
  
  .hinge {
      -webkit-animation-delay: 4s;
      -moz-animation-delay: 4s;
      -ms-animation-delay: 4s;
      animation-delay: 4s;
  }
  
  .dropbtn {
      background-color: #4CAF50;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }
  /* The container <div> - needed to position the dropdown content */
  
  .dropdown {
      margin-top: 5px;
      position: relative;
      display: inline-block;
  }
  /* Dropdown Content (Hidden by Default) */
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      margin-top: 28px;
      min-width: 150px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
  }
  /* Links inside the dropdown */
  
  .dropdown-content a {
      color: black;
      padding: 15px;
      text-decoration: none;
      float: left;
  }
  /* Change color of dropdown links on hover */
  
  .dropdown-content a:hover {
      background-color: grey
  }
  /* Show the dropdown menu on hover */
  
  .dropdown:hover .dropdown-content {
      display: block;
  }
  /* Change the background color of the dropdown button when the dropdown content is shown */